<div class="d-flex flex-column justify-content-center py-4 px-3">

  <div class="favList">
    <ng-container *ngFor="let favori of listeFavoris">

      <div class="d-flex py-3">

        <div class="mr-auto mr-3 ml-2" (clic)="afficherResultatFavori()">
          <span class="mr-2">
            <i-feather name="eye">voir</i-feather>
          </span>
          <span>{{favori.commune.nom}}</span>
        </div>

        <div>
          <span (clic)="afficherModeModification()" class="mr-4 btnMod">
            <i-feather name="sliders">parametrer</i-feather>
          </span>
          <span class="mx-2 btnDelete" data-toggle="modal" data-target="#exampleModalCenter">
            <i-feather name="trash-2">supprimer</i-feather>
          </span>
        </div>

      </div>


    </ng-container>
  </div>

  <div class="mt-2">

    <div class="py-3">

      <button (click)="afficherModeCreation()" class="btn btn-block btn-outline-primary py-2 px-3">

        <span class="mr-2">
          <i-feather name="plus-circle"></i-feather>
        </span><span>Ajouter un favori</span>

      </button>

    </div>

  </div>




</div>
