<form class="form-signin w-25 mx-auto text-center my-5">

    <div class="form-group ">
      <h1 class="h3 mb-3 font-weight-normal text-dark ">Connexion</h1>

      <input [(ngModel)]="identifiant"  class="form-control"
         name="identifiant" required   #etatIdentifiant="ngModel" placeholder="Identifiant">
    </div>
    <div class="form-group">
      <input [(ngModel)]="password"  type="password" class="form-control"
          name="password" required #etatPassword="ngModel" placeholder="Mot de passe" >
    </div>

    <button type="submit" [disabled]="etatIdentifiant.invalid || etatPassword.invalid" class="btn btn-block btn-primary" (click)=authentification(identifiant,password)>Se connecter</button>
    <p *ngIf="messageError" class="text-danger my-2">{{messageError}}</p>


    <p>Pas encore de compte ? <br></p>
                <a [routerLink]="['/creation-de-compte']">
                <p>Creer Un Compte En quelques secondes</p>
              </a>

</form>
