<form>
  <div class="formulaire">
    <div class="form-group">
      <label for="identifiant">Identifiant</label>
      <input [(ngModel)]="identifiant"  class="form-control" id="identifiant" aria-describedby="emailHelp"
         name="email" required appEmailValidator  #etatEmail="ngModel">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input [(ngModel)]="password"  type="password" class="form-control" id="inputPassword"
          name="password" required #etatPassword="ngModel" >
    </div>

    <button type="submit" [disabled]="etatEmail.invalid || etatPassword.invalid" class="btn btn-primary" (click)=authentification(identifiant,password)>Submit</button>
    <p *ngIf="messageError">{{messageError}}</p>
  </div>
</form>
