<div class="choix-polluants">
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"
      (click)="initMap('pm10')" [checked]=true>
    <label class="form-check-label" for="inlineRadio1">PM10</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"
      (click)="initMap('pm25')">
    <label class="form-check-label" for="inlineRadio2">PM2.5</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"
      (click)="initMap('so2')">
    <label class="form-check-label" for="inlineRadio3">SO2</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4"
      (click)="initMap('no2')">
    <label class="form-check-label" for="inlineRadio4">NO2</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5"
      (click)="initMap('co')">
    <label class="form-check-label" for="inlineRadio5">CO</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option6"
      (click)="initMap('o3')">
    <label class="form-check-label" for="inlineRadio6">O3</label>
  </div>
</div>

<div class="echelle">

  <div *ngFor="let seuil of listeDesSeuilsDePollution">
    <div [ngStyle]="{'background-color': seuil.couleur}"></div>
    <div>{{seuil.seuil}}</div>
  </div>

</div>




<div id="frugalmap">

</div>
