#frugalmap {
  min-height: 500px;
  min-width: 500px;
  height: 100%;
  width: 100%;

}


.choix-polluants {
  position: absolute;
  z-index: 1000;
  margin: 8px 0 0 270px;
    background-color: #ffffff99;
    padding: 5px 10px;
    border-radius: 4px;
}

.echelle {
  position: absolute;
  z-index: 1000;
margin : 120px 0 0 12px;

}

.echelle > div {
  font-size: 0.7rem;
 display: flex;
 margin: 5px 0;
}

.echelle div > div:first-child {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 4px;
  opacity: 0.8;
}
