<div class="px-5">

  <div class="py-3">

    <button (click)="creerFavori()" class="btn btn-block btn-outline-primary py-2 px-3">

      <span class="mx-2">
        <i-feather name="plus-circle"></i-feather>
      </span>

      <span>Ajouter un favori</span>

    </button>

  </div>

  <div>

    <div>
      <p class="lead">Météo</p>
      <div>Temperature</div>
      <div>Temperature max.</div>
      <div>Temperature min.</div>
      <div>Humidité</div>
      <div>Vent (direction)</div>
      <div>Vent (vitesste)</div>
      <div>Pression</div>
      <div>Etat météo</div>
    </div>

    <div>
      <p class="lead">Qualité de l'air</p>
      <div>Dioxyde de souffre (SO2)</div>
      <div>Particules en suspension (PM2.5)</div>
      <div>Particules en suspension (PM10)</div>
      <div>Ozone (03)</div>
      <div>Dioxyde d'Azote (NO2)</div>
      <div>Monoxyde de carbone (CO)</div>
    </div>

    <div>
      <p class="lead">Population</p>
      <div>Nombre d'habitants</div>
    </div>

  </div>

</div>
