<div>
  <div>nom de mon favori</div>

</div>

<div>

  <div class="mt-2">
    <h3>Météo</h3>
    <div>Temperature</div>
    <div>Temperature max.</div>
    <div>Temperature min.</div>
    <div>Humidité</div>
    <div>Vent (direction)</div>
    <div>Vent (vitesste)</div>
    <div>Pression</div>
    <div>Etat météo</div>
  </div>

  <div class="mt-2">
    <p class="lead">Qualité de l'air</p>
    <div>Dioxyde de souffre (SO2)</div>
    <div>Particules en suspension (PM2.5)</div>
    <div>Particules en suspension (PM10)</div>
    <div>Ozone (03)</div>
    <div>Dioxyde d'Azote (NO2)</div>
    <div>Monoxyde de carbone (CO)</div>
  </div>

  <div class="mt-2">
    <p class="lead">Population</p>
    <div>Nombre d'habitants</div>
  </div>

</div>

</div>
