<ng-container *ngIf="listeFavoris.length>0">
  <div *ngFor="let favori of listeFavoris">
    <div>{{favori.}}</div>
    <div>
      <span>
        <i-feather name="eye">voir</i-feather>
      </span>
      <span>
        <i-feather name="sliders">parametrer</i-feather>
      </span>
      <span>
        <i-feather name="delete">effacer</i-feather>
      </span>
    </div>
  </div>
</ng-container>

<div class="px-5">

  <div class="py-3">

    <button (click)="creerFavori()" class="btn btn-block btn-outline-primary py-2 px-3">

      <span class="mx-2">
        <i-feather name="plus-circle"></i-feather>
      </span><span>Ajouter un favori</span>

    </button>

  </div>
