<div class="d-flex py-3">

  <div class="mr-auto mr-3 ml-2" (clic)="afficherResultatFavori()">
    <span class="mr-2">
      <i-feather name="eye">voir</i-feather>
    </span>
    <span>favori.commune.nom</span>
  </div>

  <div>
    <span (clic)="afficherModeModification()" class="mr-4">
      <i-feather name="sliders">parametrer</i-feather>
    </span>
    <span class="mx-2 btnDelete" data-toggle="modal" data-target="#exampleModalCenter">
      <i-feather name="delete">supprimer</i-feather>
    </span>
  </div>

</div>

<div>

  <div class="mt-2">
    <h3>Météo</h3>
    <div><span>Temperature</span><span>
        <i-feather name="toggle-left"></i-feather>
      </span>
    </div>
    <div><span>Temperature max.</span>
      <ng-container *ngIf="expression; else elseTemplate">
        <i-feather name="toggle-left"></i-feather>
      </ng-container>
      <ng-template #elseTemplate>
        <i-feather name="toggle-right"></i-feather>
      </ng-template>


      <span></span>
    </div>
    <div><span>Temperature min.</span>
      <i-feather name="toggle-left"></i-feather><span></span>
    </div>
    <div><span>Humidité</span><span>
        <i-feather name="toggle-left"></i-feather>
      </span></div>
    <div><span>Vent (direction)</span>
      <i-feather name="toggle-left"></i-feather><span></span>
    </div>
    <div><span>Vent (vitesste)</span>
      <i-feather name="toggle-left"></i-feather><span></span>
    </div>
    <div><span>Pression</span><span>
        <i-feather name="toggle-left"></i-feather>
      </span></div>
    <div><span>Etat météo</span><span>
        <i-feather name="toggle-left"></i-feather>
      </span></div>
  </div>

  <div class="mt-2">
    <p class="lead">Qualité de l'air</p>
    <div><span></span><span></span>Dioxyde de souffre (SO2)</div>
    <div><span></span><span></span>Particules en suspension (PM2.5)</div>
    <div><span></span><span></span>Particules en suspension (PM10)</div>
    <div><span></span><span></span>Ozone (03)</div>
    <div><span></span><span></span>Dioxyde d'Azote (NO2)</div>
    <div><span></span><span></span>Monoxyde de carbone (CO)</div>
  </div>

  <div class="mt-2">
    <p class="lead">Population</p>
    <div><span></span><span></span>Nombre d'habitants</div>
  </div>

</div>
