<div class="d-flex py-3">

  <div class="mr-auto mr-3 ml-2" (clic)="afficherResultatFavori()">
    <span class="mr-2">
      <i-feather name="map-pin"></i-feather>
    </span>
    <span>favori.commune.nom</span>
  </div>



</div>

<div>

  <div class="mt-2">
    <h4>Météo</h4>
    <div><span>Temperature</span><span>
        <i-feather name="toggle-left"></i-feather>
      </span>
    </div>
    <div><span>Temperature max.</span>
      <ng-container *ngIf="expression; else elseTemplate">
        <i-feather name="toggle-left"></i-feather>
      </ng-container>
      <ng-template #elseTemplate>
        <i-feather name="toggle-right"></i-feather>
      </ng-template>


      <span></span>
    </div>
    <div><span>Temperature min.</span>
      <i-feather name="toggle-left"></i-feather><span></span>
    </div>
    <div><span>Humidité</span><span>
        <i-feather name="toggle-left"></i-feather>
      </span></div>
    <div><span>Vent (direction)</span>
      <i-feather name="toggle-left"></i-feather><span></span>
    </div>
    <div><span>Vent (vitesste)</span>
      <i-feather name="toggle-left"></i-feather><span></span>
    </div>
    <div><span>Pression</span><span>
        <i-feather name="toggle-left"></i-feather>
      </span></div>
    <div><span>Etat météo</span><span>
        <i-feather name="toggle-left"></i-feather>
      </span></div>
  </div>

  <div class="mt-2">
    <h4>Qualité de l'air</h4>
    <div><span>Dioxyde de souffre (SO2)</span><span></span></div>
    <div><span>Particules en suspension (PM2.5)</span><span></span></div>
    <div><span>Particules en suspension (PM10)</span><span></span></div>
    <div><span>Ozone (03)</span><span></span></div>
    <div><span>Dioxyde d'Azote (NO2)</span><span></span></div>
    <div><span>Monoxyde de carbone (CO)</span><span></span></div>
  </div>

  <div class="mt-2">
    <h4>Population</h4>
    <div><span></span><span></span>Nombre d'habitants</div>
  </div>

</div>
