
<div class="row text-center">
  <h1 class="col-12 text-center">{{nomCommuneConcerne}}</h1>
</div>
<div class="row" >

  <div class="col-6" >
<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="text-center" *ngFor="let mesure of mesuresPollution | async">{{mesure.typeDeDonnee}}<i-feather name="frown" class="text-light "></i-feather></th>
    </tr>

  </thead>
  <tbody>

    <tr>
      <td class="text-center" *ngFor="let mesure of mesuresPollution | async">{{mesure.valeur}} &#xb5;g/m&#179;
      <p></p></td>
    </tr>
  </tbody>
</table>
</div>
<div class="col-6" >
<table class="table table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="text-center">Description</th>
      <th scope="col" class="text-center">temperature </th>
      <th scope="col" class="text-center">pressure</th>
      <th scope="col" class="text-center">humidity</th>
      <th scope="col" class="text-center">tempMin</th>
      <th scope="col" class="text-center">tempMax</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="mesuresMeteo!=undefined">
      <td class="text-center"><img  src="https://openweathermap.org/img/wn/{{mesuresMeteo.weatherIcon}}@2x.png" alt=""></td>
      <td class="text-center"> {{mesuresMeteo.temperature}} °C</td>
      <td class="text-center"> {{mesuresMeteo.pressure}}  hPa</td>
      <td class="text-center"> {{mesuresMeteo.humidity}}  %</td>
      <td class="text-center"> {{mesuresMeteo.tempMin}}  °C</td>
      <td class="text-center"> {{mesuresMeteo.tempMax}}  °C</td>
    </tr>
  </tbody>
</table>
</div>
</div>

