<div class="min-vw-100" style="border-style: solid">Min-width 100vw</div>
<div class="min-vh-100" style="border-style: solid">Min-height 100vh</div>
<div class="vw-100" style="border-style: solid">Width 100vw</div>
<div class="vh-100" style="border-style: solid">Height 100vh</div>

<p>accueil works!</p>

<div class="row min-vw-100" style="height: 100%;border-style: solid">

  <div class="col-3" style="height: 100%;border-style: solid">

    <div class="row" style="height: 20%;border-style: solid">
      Composant Recherche
    </div>
    <div class="row" style="height: 75%;border-style: solid">
      Composant Liste De Favoris
      Composé de :
      Composant Afficher Favori
      Composant Modifier Favori
      Composant Creer Favori
    </div>
  </div>

  <div class="col-9">
      <div class="row" style="height: 75%;border-style: solid">Composant Carte</div>

      <div class="row" style="height: 20%;border-style: solid">Composant Sous La Carte</div>

  </div>

</div>
