<div class="row min-vh-100 min-vw-100" style="border-style: solid">

  <div class="col-3" style="border-style: solid">

    <div class="row" style="height: 20%;border-style: solid">
      Composant Recherche
    </div>
    <div class="row" style="height: 80%;border-style: solid">
      Composant Liste De Favoris
      Composé de :
      Composant Afficher Favori,
      Composant Modifier Favori,
      Composant Creer Favori
    </div>
  </div>

  <div class="col-9">

      <div class="row"  style='border-style: solid;height: 80%' (click)="methodeClickSurCarte()">
<app-carte style='height: 100%;width: 100%'></app-carte>

      </div>


      <div  class="row" style="border-style: solid;height: 20%" >
        <app-sous-la-carte  style='height: 100%;width: 100%'></app-sous-la-carte>
      </div>

  </div>

</div>
